@model IEnumerable<LaptopProject.Models.Laptop>

<h1>Laptops</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Processor</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var laptop in Model)
        {
            <tr>
                <td>@laptop.Id</td>
                <td>@laptop.Brand</td>
                <td>@laptop.Model</td>
                <td>@laptop.Processor</td>
                <td>@laptop.Price</td>

                <td>
                    <!-- <a asp-action="Details" asp-route-id="@laptop.Id">Details</a> | -->
                    <a asp-action="Edit" asp-route-id="@laptop.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@laptop.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
